:root {
  --badge-color: #8c2eff !important;
}

.monaco-workbench .part.panel .composite.title .badge {
  background-color: #8c2eff !important; /* Fondo del círculo */
  color: #FFFFFF !important;           /* Color del número */
  font-weight: bold !important;
  border-radius: 10px !important;
}
.badge-content {
  background-color: #8c2eff !important; /* Fondo del círculo */
}
.action-label {
    /* background-color: #8c2eff !important; */
    color: #8c2eff !important;
    /* font-weight: bold !important; */
    border-radius: 10px !important;
}
.monaco-workbench .part.sidebar>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:hover .action-label {
	color: #cb2eff !important;
}
.action-label.uri-icon {
    background: #8c2eff !important;
}
.action-label.uri-icon:hover {
	background: #cb2eff !important;
	color: #cb2eff !important;
}
.tab-actions-right .label-name {
	/* text-shadow: 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000; */
    padding: 0 3px;
}
.monaco-decoration-itemColor--65c53t .label-name {
	color: #f82286 !important;
}

.monaco-decoration-itemBadge--65c53t::after {
    color: #f82286 !important;
	font-weight: bold !important;
}
.breadcrumbs-below-tabs {
	display: none !important;
}
.part.panel.basepanel.bottom.pane-composite-part .label-name {
    color: #bb9af788 !important;
}
.part.panel.basepanel.bottom.pane-composite-part .marker-message .monaco-highlighted-label {
    color: #bb9af747 !important;
}

/* GENERALS */
.monaco-editor .zone-widget .zone-widget-container.exception-widget {
	background-color: #8e23b1 !important;
    border-top-color: #cb2eff !important;
    border-bottom-color: #cb2eff !important;
	color: #000000;
}
.monaco-editor .zone-widget .codicon-widget-close:before {
	color: #000000;
    font-weight: 600;
}

/* EXPLORER PANEL */
.composite.viewlet .pane-header,
.composite.viewlet .twisty-container,
.composite.title .title-label h2 {
	color: #cb2eff !important;
}
.composite.viewlet .monaco-tl-row .codicon-tree-item-expanded,
.composite.viewlet .monaco-tl-row .label-name,
.composite.viewlet .resource-group {
	color: #a962ff77 !important;
}

.composite.viewlet .monaco-list-row:hover,
.composite.viewlet .monaco-list-row.focused,
.composite.viewlet .monaco-list-row.selected {
	background-color: #a962ff11 !important;
}
.composite.viewlet .monaco-list-row:hover .label-name,
.composite.viewlet .monaco-list-row.focused .label-name,
.composite.viewlet .monaco-list-row.selected .label-name {
	color: #cb2eff !important;
}


/* TABS PANEL */
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab:not(.selected):hover {
	background-color: inherit !important;
}
.tab.tab-actions-right.sizing-shrink.has-icon a.label-name {
	/* text-shadow: 0 0 5px #000, 0 0 5px #000; */
	color:#a962ff77 !important;
}
.tab.tab-actions-right.sizing-shrink.has-icon.active a.label-name,
.tab.tab-actions-right.sizing-shrink.has-icon:hover a.label-name {
	/* text-shadow: 0 0 5px #000, 0 0 5px #000; */
	color:#cb2eff !important;
}
.monaco-workbench .part.editor > .content:not(.dragged-over) .editor-group-container.active > .title .tabs-container > .tab.sizing-shrink:not(.dragged):not(.sticky-compact):hover > .tab-label > .monaco-icon-label-container::after, .monaco-workbench .part.editor > .content:not(.dragged-over) .editor-group-container.active > .title .tabs-container > .tab.sizing-fixed:not(.dragged):not(.sticky-compact):hover > .tab-label > .monaco-icon-label-container::after {
	background: inherit !important;
}
/* .tab.tab-actions-right.sizing-shrink.has-icon.tab-border-bottom.active.selected.tab-border-top {
	min-width: auto !important;
	padding-right: 20px !important;
	border-right: auto !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.tab-actions-right.sizing-shrink>.tab-actions {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.tab-actions-right.sizing-shrink:hover>.tab-actions {
	background: #000000;
	border-radius: 20px;
} */



/* BOTTOM PANEL (Terminal, Debug consule, Problems, etc */
.monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .action-label, .monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .action-label {
	color: #8c2eff !important;
}
.monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .action-label, .monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:hover .action-label {
	color: #cb2eff !important;
}
.monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked.clicked:focus .active-item-indicator:before, .monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked:not(:focus) .active-item-indicator:before {
	border-top-color: #8c2eff !important;
}
.monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .action-label, .monaco-workbench .part.panel>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item .action-label {
	color: #bb9af788 !important;
}
.composite.panel span,
.composite.panel p {
	color: #bb9af788 !important;
}
.composite.panel .error span,
.composite.panel .error p,
.composite.panel span.value.warn,
.composite.panel p.value.warn {
	color: #cb2eff !important;
}
code-foreground-colored

.part.panel>.title>.title-actions .switch-terminal>.monaco-select-box,
.monaco-workbench .select-container:after {
	color: #bb9af788 !important;
}


/* STATUS BAR */
.monaco-workbench .part.statusbar>.items-container>.statusbar-item {
	color: #bb9af788 !important;
}
.monaco-workbench .part.statusbar>.items-container>.statusbar-item {
	color: #bb9af788 !important;
}
.monaco-workbench:not(.hc-light):not(.hc-black) .part.statusbar>.items-container>.statusbar-item a:hover:not(.disabled) {
	background-color: #a962ff11 !important;
	color: #cb2eff !important;
}
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.warning-kind {
	background-color: #a962ff11 !important;
}


/* EDITOR PANEL */

